.header-container {
  height: 240px;
  z-index: 1;

  &:before {
    background-color: rgba(42, 54, 59, 0.85);
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    left: 0;
    right: 0;
  }

  &:after {
    background-image: url(../images/background.jpg);
    background-position: center -250px;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;

    @media screen and (max-width: 1140px){
      background-position: center 0;
    }
  }

  @media screen and (max-width: 767px){
    height: 180px;
    display: block;
    position: relative !important;
  }

}

.header-background {
  height: 270px;
  position: fixed;
  top: 0;
  width: 100%;

  @media screen and (max-width: 500px) {
    display: none;
  }

  &:before {
    background-color: rgba(42, 54, 59, 0.85);
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    left: 0;
    right: 0;
  }

  &:after {
    background-image: url(../images/background.jpg);
    background-position: center -250px;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;

    @media screen and (max-width: 1140px){
      background-position: center 0;
    }
  }
}

.header-top-content {
  padding: 20px 20px 5px;
  display: flex;
  justify-content: space-between;
  .header-logo {
    position: relative;
    padding: 0 20px;
    width: 180px;

    a {
      line-height: 70px;
    }

    .top-logo {
      width: 180px;
    }

    @media screen and (max-width: 767px){
      padding: 0;
      margin: 0 auto;
      text-align: center;
    }
  }
  .header-top-actions {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .dropdown {
    .btn {
      background-color: transparent;
      border-color: transparent;
      font-weight: 300;
      text-transform: none;
      letter-spacing: 1px;
      color: #eee;

      &:hover {
        color: #fff;
      }
    }
  }

  .header-top-action-dropdown-menu {

    .top-link-item {
      display: inline-block;
    }

  }

  .header-top-action-avatar-menu {
    padding: 0 30px;
    z-index: 5;
    position: relative;

    @media screen and (max-width: 767px){
      padding: 0;
    }

    .et-icon {
      font-size: 40px;
      color: #fff;
    }
  }
}

.header-bottom-content {
  padding: 0 20px;
  display: block;
  position: relative;
  .header-bottom-actions {
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
  }

  .header-search {
    .top-search-input {
      color: #fff;
      padding: 8px 20px;
      font-weight: 300;
      font-size: 16px;
      width: 500px;
      outline: none !important;
      background-color: rgba(225, 225, 225, 0.2);
      border: 0;
      box-sizing: border-box;

      &:focus {
        box-shadow:inset 0 0 0 1px #777;
      }

      &::placeholder {
        color: #eee;
        opacity: 1;
        font-weight: 300;
      }

      &:-ms-input-placeholder {
        color: #eee;
        font-weight: 300;
      }
    }
  }

  .header-bottom-sub-content-wrapper {
    margin-left: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1090px) {
      justify-content: flex-end;
    }

    @media screen and (max-width: 768px) {
      margin-left: 0;
      justify-content: center;
    }

  }

  .header-title {
    color: #fff;
    padding-left: 10px;
    max-width: 50%;

    @media screen and (max-width: 1519px) {
      max-width: 43%;
    }

    @media screen and (max-width: 1240px) {
      max-width: 40%;
    }

    @media screen and (max-width: 1090px) {
      display: none;
    }

    h1 {
      letter-spacing: 2.3px;
      font-size: 34px;
      margin-bottom: 0;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media screen and (max-width: 1240px) {
        font-size: 26px;
      }
    }
  }

  .header-bottom-action-buttons {
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;

    @media screen and (max-width: 500px) {
      padding: 0;
    }

    .big-btn {
      color: #eee;
      margin: 0 24px;
      font-size: 14px;
      padding: 0;

      @media screen and (max-width: 1399px) {
        margin: 0 10px;
      }

      @media screen and (max-width: 500px) {
        font-size: 12px;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}
