.header-container {
  height: 250px;

  &:before {
    background-color: rgba(42, 54, 59, 0.85);
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    left: 0;
    right: 0;
  }

  &:after {
    background-image: url(../images/background.jpg);
    background-position: center 80%;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    right: 0;
  }

}

.header-top-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  .header-logo {
    position: relative;
    padding: 0 20px;
    width: 220px;

    a {
      line-height: 70px;
    }

    .top-logo {
      width: 100%;
    }

    @media screen and (max-width: 550px){
      padding: 0;
    }
  }
  .header-top-actions {
    display: flex;
    align-items: center;
  }

  .dropdown {
    .btn {
      background-color: transparent;
      border-color: transparent;
      font-weight: 300;
      text-transform: none;
      letter-spacing: 1px;
    }
  }

  .header-top-action-dropdown-menu {
    padding: 0 30px;

    .top-link-item {
      display: inline-block;
    }

    @media screen and (max-width: 550px){
      display: none;
    }

  }

  .header-top-action-avatar-menu {
    padding: 0 30px;
    z-index: 5;

    @media screen and (max-width: 550px){
      padding: 0;
    }

    i {
      font-size: 2rem;
      color: #fff;
    }
  }
}