<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container dashboard">
        <!-- include header.html -->
        @@include('../layouts/header.html')
        <div class="container-main-wrapper">
            <!-- include dashboard-sidebar -->
            @@include('../partials/dashboard-sidebar.html')
            <div class="inner-container">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-lg-8 main-column">
                            <div class="main-content-wrapper">
                                <section class="main-content-container">
                                    <h1>Datoteka</h1>
                                    <div class="main-content-navigation">
                                        <nav class="nav">
                                            <a class="nav-link active">Vozilo</a>
                                            <a class="nav-link">Oprema</a>
                                            <a class="nav-link">Lastnik</a>
                                            <a class="nav-link">Priloge</a>
                                            <a class="nav-link">Dodatni tehnični podatki</a>
                                        </nav>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-2 right-column">
                            <!-- include file history -->
                            @@include('../partials/file-history.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/dashboard-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>