<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container dashboard">
        <!-- include header.html -->
        @@include('../layouts/header.html', {
        "is-present": "d-block",
        "title": "Ford Fiesta 1,1 Trend (08/2017 - )"
        })
        <div class="container-main-wrapper">
            <!-- include dashboard-sidebar -->
            @@include('../partials/dashboard-sidebar.html')
            <div class="inner-container">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-lg-8 main-column">
                            <div class="main-content-wrapper">
                                <section class="main-content-container">
                                    <h1>Ford Fiesta 1,1 Trend (08/2017 - )
                                        <span class="content-title-tag" title="Oznaka datoteke">890</span>
                                        <span class="vin-tag" title="Vozilo izbrano po VIN">VIN Checked</span>
                                    </h1>
                                    <div class="main-content-navigation">
                                        <nav class="nav">
                                            <a class="nav-link active" href="dashboard.file.html">Vozilo</a>
                                            <a class="nav-link" href="dashboard.gear.html">Oprema</a>
                                            <a class="nav-link" href="dashboard.owner.html">Lastnik</a>
                                            <a class="nav-link" href="dashboard.attachments.html">Priloge</a>
                                            <a class="nav-link" href="dashboard.technical.html">Dodatni tehnični podatki</a>
                                        </nav>
                                    </div>
                                    <div class="row dashboard-car-data">
                                        <div class="col-lg-6 narrow-data">
                                            <div class="form-group">
                                                <label>Market</label>
                                                <p>SI</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Eurotax koda</label>
                                                <p>000-000</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Znamka</label>
                                                <p>Ford (D)</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Model</label>
                                                <p>Fiesta (08/2017 - )</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Tip</label>
                                                <p>Fiesta 1,1 Trend</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Prodajno obdobje</label>
                                                <p>Od 1.8.2012</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>kW</label>
                                                <p>52</p>
                                            </div>
                                            <div class="form-group">
                                                <label>HP</label>
                                                <p>82</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Izvedba</label>
                                                <p>N12454433322</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Št. vrat</label>
                                                <p>5</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Menjalnik</label>
                                                <p>Ročni</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Prestave</label>
                                                <p>5</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Sedeži</label>
                                                <p>5</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Nosilnost</label>
                                                <p>1.2 tone</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Šasija (vin)</label>
                                                <p>N124544333225</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Tip motorja</label>
                                                <p>Bencin</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="main-car-image">
                                                <img class="main-car-image-src" src="./images/car-image.jpg">
                                            </div>
                                            <div class="form-group date" style="max-width: 300px">
                                                <label for="datumDogodka">Prva registracija</label>
                                                <input type="text" class="form-control" name="datumDogodka" id="datumDogodka" required="">
                                                <div class="input-group-addon"><i class="et-icon icon-Ikona_koledar"></i></div>
                                                <div class="invalid-feedback">
                                                    Polje je zahtevano.
                                                </div>
                                            </div>
                                            <div class="form-group" style="max-width: 300px">
                                                <label for="kmLength">Kilomentrina</label>
                                                <input type="number" class="form-control" name="kmLength" id="kmLength" required="">
                                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                                <div class="invalid-feedback">
                                                    Polje je zahtevano.
                                                </div>
                                            </div>
                                            <div class="form-group" style="max-width: 300px">
                                                <label for="zaloga">Zaloga</label>
                                                <input type="number" class="form-control" name="zaloga" id="zaloga">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-2 right-column">
                            <!-- include file history -->
                            @@include('../partials/file-history.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/dashboard-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>