<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container dashboard">
        <!-- include header.html -->
        @@include('../layouts/header.html', {
        "is-present": "d-block",
        "title": "Ford Fiesta 1,1 Trend (08/2017 - )"
        })
        <div class="container-main-wrapper">
            <!-- include dashboard-sidebar -->
            @@include('../partials/dashboard-sidebar.html')
            <div class="inner-container">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-lg-8 main-column">
                            <div class="main-content-wrapper">
                                <section class="main-content-container">
                                    <h1>Ford Fiesta 1,1 Trend (08/2017 - ) <span class="content-title-tag" title="Oznaka datoteke">890</span></h1>
                                    <div class="main-content-navigation">
                                        <nav class="nav">
                                            <a class="nav-link" href="dashboard.file.html">Vozilo</a>
                                            <a class="nav-link" href="dashboard.gear.html">Oprema</a>
                                            <a class="nav-link active" href="dashboard.owner.html">Lastnik</a>
                                            <a class="nav-link" href="dashboard.attachments.html">Priloge</a>
                                            <a class="nav-link" href="dashboard.technical.html">Dodatni tehnični podatki</a>
                                        </nav>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group ema-select">
                                                <label for="lastnik">Lastnik</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="lastnik" name="lastnik" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="voznik">Voznik</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="voznik" name="voznik" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="leasing">Leasing</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="leasing" name="leasing" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-with-icon" data-toggle="modal" data-target="#newContactModal">
                                                <span class="btn-icon"><span class="et-icon icon-Ikona_kopiraj"></span></span>
                                                Nov kontakt
                                            </button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-2 right-column">
                            <!-- include file history -->
                            @@include('../partials/file-history.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')

    <!-- include new-contact-modal.html -->
    @@include('../partials/new-contact-modal.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/dashboard-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>