<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container dashboard">
        <!-- include header.html -->
        @@include('../layouts/header.html')
        <div class="container-main-wrapper">
            <!-- include dashboard-sidebar -->
            @@include('../partials/dashboard-sidebar.html')
            <div class="inner-container">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-lg-8 main-column">
                            <div class="main-content-wrapper">
                                <section class="main-content-container">
                                    <h1>Datoteka</h1>
                                    <div class="main-content-navigation">
                                        <nav class="nav">
                                            <a class="nav-link" href="dashboard.file.html">Vozilo</a>
                                            <a class="nav-link" href="dashboard.gear.html">Oprema</a>
                                            <a class="nav-link" href="dashboard.owner.html">Lastnik</a>
                                            <a class="nav-link" href="dashboard.attachments.html">Priloge</a>
                                            <a class="nav-link active" href="dashboard.technical.html">Dodatni tehnični podatki</a>
                                        </nav>
                                    </div>
                                    <div class="row technical-data">
                                        <div class="col-lg-6 narrow-data">
                                            <div class="form-group">
                                                <label>Eurotax koda</label>
                                                <p>000-000</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Znamka</label>
                                                <p>Ford (D)</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Model</label>
                                                <p>Fiesta (08/2017 - )</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Tip</label>
                                                <p>Fiesta 1,1 Trend</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>kW</label>
                                                <p>52</p>
                                            </div>
                                            <div class="form-group">
                                                <label>HP</label>
                                                <p>82</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Natcode</label>
                                                <p>N12454433322</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Eurotax koda</label>
                                                <p>000-000</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Znamka</label>
                                                <p>Ford (D)</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Model</label>
                                                <p>Fiesta (08/2017 - )</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Tip</label>
                                                <p>Fiesta 1,1 Trend</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>kW</label>
                                                <p>52</p>
                                            </div>
                                            <div class="form-group">
                                                <label>HP</label>
                                                <p>82</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Natcode</label>
                                                <p>N12454433322</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 narrow-data">
                                            <div class="form-group">
                                                <label>Eurotax koda</label>
                                                <p>000-000</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Znamka</label>
                                                <p>Ford (D)</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Model</label>
                                                <p>Fiesta (08/2017 - )</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Tip</label>
                                                <p>Fiesta 1,1 Trend</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>CCM</label>
                                                <p>1084</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Znamka</label>
                                                <p>Ford (D)</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Model</label>
                                                <p>Fiesta (08/2017 - )</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Tip</label>
                                                <p>Fiesta 1,1 Trend</p>
                                            </div>
                                            <div class="form-group">
                                                <label>kW</label>
                                                <p>52</p>
                                            </div>
                                            <div class="form-group">
                                                <label>HP</label>
                                                <p>82</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Natcode</label>
                                                <p>N12454433322</p>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-2 right-column">
                            <!-- include file history -->
                            @@include('../partials/file-history.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/dashboard-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>