<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container">
        <!-- include header.html -->
        @@include('../layouts/header.html')
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="left-sidebar">
                        <img src="./images/sava_logo.png" class="sava-logo">
                    </div>
                </div>
                <div class="col-lg-8 main-column with-breadcrumbs">
                    <div class="main-content-breadcrumbs">
                        <div class="breadcrumbs-wrapper-desktop d-none d-lg-block">
                            <div class="breadcrumbs-wrapper">
                                <a href="ema_1.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_2.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_3.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_4.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_5.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_6.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_7.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_8b.html">
                                    <div class="circle active"></div>
                                </a>
                                <a href="ema_9.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_10.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_11.html">
                                    <div class="circle"></div>
                                </a>
                            </div>
                        </div>
                        <div class="breadcrumbs-wrapper-mobile d-block d-lg-none">
                            8/11
                        </div>
                    </div>
                    <div class="main-content-wrapper">
                        <section class="main-content-container">
                            <h1>Priloge</h1>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="drop-zone">
                                        <div class="inner-drop-zone">
                                            <p class="drop-text">Spustite datoteke sem <br> ali</p>
                                            <button type="button" class="btn btn-primary drop-btn">
                                                <label for="drop-input">Izberite datoteke</label>
                                            </button>
                                        </div>
                                        <input class="drop-input-hidden" id="drop-input" name="drop-input" type="file" multiple>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Naložene datoteke</label>
                                    </div>
                                    <div class="uploaded-file">
                                        <div class="uploaded-file-name">
                                            <span class="uploaded-file-icon"><span class="et-icon icon-Ikona_datoteka"></span></span>
                                            <p class="uploaded-file-text">Ime datoteke</p>
                                        </div>
                                        <div class="uploaded-file-action">
                                            <label class="upload-file-type-name" for="file-type-1">Tip datoteke</label>
                                            <div class="form-group ema-select">
                                                <span class="oi oi-chevron-bottom"></span>
                                                <select id="file-type-1" name="file-type-1" class="form-control">
                                                    <option value="">Razno</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-file">
                                        <div class="uploaded-file-name">
                                            <span class="uploaded-file-icon"><span class="et-icon icon-Ikona_datoteka"></span></span>
                                            <p class="uploaded-file-text">Ime datoteke</p>
                                        </div>
                                        <div class="uploaded-file-action">
                                            <label class="upload-file-type-name" for="file-type-2">Tip datoteke</label>
                                            <div class="form-group ema-select">
                                                <span class="oi oi-chevron-bottom"></span>
                                                <select id="file-type-2" name="file-type-2" class="form-control">
                                                    <option value="">Razno</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/ema-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>