<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container">
        <!-- include header.html -->
        @@include('../layouts/header.ema.html')
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="left-sidebar">
                        <img src="./images/sava_logo.png" class="sava-logo">
                    </div>
                </div>
                <div class="col-lg-8 main-column with-breadcrumbs">
                    <div class="main-content-breadcrumbs">
                        <div class="breadcrumbs-wrapper-desktop d-none d-lg-block">
                            <div class="breadcrumbs-wrapper">
                                <a href="ema_1.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_2.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_3.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_4.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_5.html">
                                    <div class="circle active"></div>
                                </a>
                                <a href="ema_6.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_7.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_8b.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_9.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_10.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_11.html">
                                    <div class="circle"></div>
                                </a>
                            </div>
                        </div>
                        <div class="breadcrumbs-wrapper-mobile d-block d-lg-none">
                            5/11
                        </div>
                    </div>
                    <div class="main-content-wrapper">
                        <section class="main-content-container">
                            <h1>Podatki o vozilu</h1>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectCarModal">
                                Izbor vozila
                            </button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- include select-car-modal.html -->
    @@include('../partials/select-car-modal.html')

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/ema-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>