<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper">
    <section class="main-container">
        <!-- include header.html -->
        @@include('../layouts/header.html')
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="right-sidebar">
                        <img src="../../images/sava_logo.png" class="sava-logo">
                    </div>
                </div>
                <div class="col-lg-8 main-column with-breadcrumbs">
                    <div class="main-content-breadcrumbs d-none d-lg-flex">
                        <a href="ema_1.html">
                            <div class="circle"></div>
                        </a>
                        <a href="ema_2.html">
                            <div class="circle"></div>
                        </a>
                        <a href="ema_3.html">
                            <div class="circle active"></div>
                        </a>
                        <a href="ema_4.html">
                            <div class="circle"></div>
                        </a>
                        <a href="ema_5.html">
                            <div class="circle"></div>
                        </a>
                        <a href="ema_6.html">
                            <div class="circle"></div>
                        </a>
                        <a href="#">
                            <div class="circle"></div>
                        </a>
                        <a href="#">
                            <div class="circle"></div>
                        </a>
                        <a href="#">
                            <div class="circle"></div>
                        </a>
                        <a href="#">
                            <div class="circle"></div>
                        </a>
                        <a href="#">
                            <div class="circle"></div>
                        </a>
                    </div>
                    <div class="main-content-wrapper">
                        <section class="main-content-container">
                            <h1>Podatki o lastniku</h1>
                            <form class="needs-validation" action="ema_4.html" novalidate>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="podjetje">Podjetje</label>
                                            <input type="text" class="form-control" name="podjetje" id="podjetje" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="nameSurname">Ime in priimek</label>
                                            <input type="text" class="form-control" name="nameSurname" id="nameSurname" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="streetWithNumber">Ulica in hišna številka</label>
                                            <input type="text" class="form-control" name="streetWithNumber" id="streetWithNumber" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-5">
                                                <label for="postalNumber">Poštna številka</label>
                                                <input type="number" class="form-control" name="postalNumber" id="postalNumber" required>
                                                <div class="valid-check"><i class="fas fa-check"></i></div>
                                                <div class="invalid-feedback">
                                                    Polje je zahtevano.
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-7">
                                                <label for="postalName">Pošta</label>
                                                <input type="text" class="form-control" name="postalName" id="postalName" required>
                                                <div class="valid-check"><i class="fas fa-check"></i></div>
                                                <div class="invalid-feedback">
                                                    Polje je zahtevano.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="country">Država</label>
                                            <input type="text" class="form-control" name="country" id="country" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="vatID">Davčna številka</label>
                                            <input type="text" class="form-control" name="vatID" id="vatID" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mobileNumber">Mobilna številka</label>
                                            <input type="tel" class="form-control" name="mobileNumber" id="mobileNumber" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="telNumber">Telefonska številka</label>
                                            <input type="tel" class="form-control" name="telNumber" id="telNumber" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="faxNumber">Fax številka</label>
                                            <input type="tel" class="form-control" name="faxNumber" id="faxNumber" required>
                                            <div class="valid-check"><i class="fas fa-check"></i></div>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Opombe</label>
                                            <textarea class="form-control" id="comment" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Potrdi</button>
                            </form>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>