<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper">
    <section class="main-container">
        <!-- include header.html -->
        @@include('../layouts/header.html')
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="left-sidebar">
                        <img src="./images/sava_logo.png" class="sava-logo">
                    </div>
                </div>
                <div class="col-lg-8 main-column with-breadcrumbs">
                    <div class="main-content-breadcrumbs d-none d-lg-block">
                        <div class="breadcrumbs-wrapper">
                            <a href="ema_1.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_2.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_3.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_4.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_5.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_6.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_7.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_8b.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_9.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_10.html">
                                <div class="circle active"></div>
                            </a>
                            <a href="ema_11.html">
                                <div class="circle"></div>
                            </a>
                        </div>
                    </div>
                    <div class="main-content-wrapper">
                        <section class="main-content-container">
                            <h1>Opombe</h1>
                            <div class="row">
                                <div class="col-lg-6">
                                    <form class="needs-validation" action="ema_11.html" novalidate>
                                        <div class="form-group ema-select">
                                            <label for="regija">Izbira regije</label>
                                            <span class="oi oi-chevron-bottom"></span>
                                            <select id="regija" name="regija" class="form-control" required>
                                                <option value="">Izberi...</option>
                                                <option value="">...</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group ema-select">
                                            <label for="serviser">Izbira serviserja</label>
                                            <span class="oi oi-chevron-bottom"></span>
                                            <select id="serviser" name="serviser" class="form-control" required>
                                                <option value="">Izberi...</option>
                                                <option value="">...</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Polje je zahtevano.
                                            </div>
                                        </div>
                                        <div class="form-group block">
                                            <label>Izbran serviser</label>
                                            <p>Miha Pečenko</p>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Potrdi</button>
                                    </form>
                                </div>
                            </div>
                            <div class="navigation-bottom">
                                <a href="ema_1.html" class="navigation-bottom-link">
                                    <button class="caret-btn">
                                        <span class="oi oi-chevron-left"></span>
                                    </button>
                                </a>
                                <a href="ema_1c.html" class="navigation-bottom-link">
                                    <button class="caret-btn">
                                        <span class="oi oi-chevron-right"></span>
                                    </button>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>