<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container">
        <!-- include header.html -->
        @@include('../layouts/header.html')
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="left-sidebar">
                        <img src="./images/sava_logo.png" class="sava-logo">
                    </div>
                </div>
                <div class="col-lg-8 main-column with-breadcrumbs">
                    <div class="main-content-breadcrumbs d-none d-lg-block">
                        <div class="breadcrumbs-wrapper">
                            <a href="ema_1.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_2.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_3.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_4.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_5.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_6.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_7.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_8b.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_9.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_10.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_11.html">
                                <div class="circle active"></div>
                            </a>
                        </div>
                    </div>
                    <div class="main-content-wrapper">
                        <section class="main-content-container">
                            <h1>Pregled</h1>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Št. police</label>
                                        <p>00.00.2018 - 00.00.2018</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Št. škode</label>
                                        <p>0000-213-33321</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Vrsta zavarovanja</label>
                                        <p>Avto kasko</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Škodni spis</label>
                                        <p>Način popravila</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Škodni vzrok</label>
                                        <p>Način popravila</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Datum škode</label>
                                        <p>00.00.2018</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Znesek škode</label>
                                        <p>334,12 EUR</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Veljavnost police</label>
                                        <p>00.00.2018</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Varianta zavoarovanja</label>
                                        <p>0000-213-33321</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Način popravila</label>
                                        <p>Avto kasko</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Škodni spis</label>
                                        <p>Način popravila</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Odbitna franšiza</label>
                                        <p>Način popravila</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Izbira servisa</label>
                                        <p>Avtoličarstvo Božič</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Znamka vozila</label>
                                        <p>Ford</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Model vozila</label>
                                        <p>Fiesta</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Tip vozila</label>
                                        <p>Avto</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Lasnik vozila</label>
                                        <p>Marko Mahne</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Št. prilog</label>
                                        <p>2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row bottom-final-actions">
                                <div class="col-lg-12">
                                    <span class="ruler"></span>
                                </div>
                                <div class="col">
                                    <button class="big-btn">
                                        <span class="et-icon icon-Ikona_predogled-zapisnika"></span>
                                        Predogled zapisnika
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="big-btn">
                                        <span class="et-icon icon-Ikona_predogled-kalkulacije"></span>
                                        Predogled kalkulacije
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="big-btn">
                                        <span class="et-icon icon-Ikona_tisk-zapisnika"></span>
                                        Tisk zapisnika
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="big-btn">
                                        <span class="et-icon icon-Ikona_tisk-kalkulacije"></span>
                                        Tisk kalkulacije
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="big-btn">
                                        <span class="et-icon icon-Ikona_poslji"></span>
                                        Pošlji
                                    </button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/ema-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>