<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper">
    <section class="main-container">
        <!-- include header.html -->
        @@include('../layouts/header.html')
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="left-sidebar">
                        <img src="./images/sava_logo.png" class="sava-logo">
                    </div>
                </div>
                <div class="col-lg-8 main-column with-breadcrumbs">
                    <div class="main-content-breadcrumbs d-none d-lg-block">
                        <div class="breadcrumbs-wrapper">
                            <a href="ema_1.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_2.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_3.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_4.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_5.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_6.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_7.html">
                                <div class="circle active"></div>
                            </a>
                            <a href="ema_8b.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_9.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_10.html">
                                <div class="circle"></div>
                            </a>
                            <a href="ema_11.html">
                                <div class="circle"></div>
                            </a>
                        </div>
                    </div>
                    <div class="main-content-wrapper">
                        <section class="main-content-container">
                            <h1>Obstoječa kalkulacija</h1>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="needs-validation" action="ema_8b.html" novalidate>
                                        <div class="form-group">
                                            <label>Vrednost kalkulacije</label>
                                            <p>7214,12 EUR</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Avtor</label>
                                            <p>Miha Pečenko</p>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Vpogled</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>