<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container">
        <!-- include header.html -->
        @@include('../layouts/header.ema.html')
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <div class="left-sidebar">
                        <img src="./images/sava_logo.png" class="sava-logo">
                    </div>
                </div>
                <div class="col-lg-8 main-column with-breadcrumbs">
                    <div class="main-content-breadcrumbs">
                        <div class="breadcrumbs-wrapper-desktop d-none d-lg-block">
                            <div class="breadcrumbs-wrapper">
                                <a href="ema_1.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_2.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_3.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_4.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_5.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_6.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_7.html">
                                    <div class="circle active"></div>
                                </a>
                                <a href="ema_8b.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_9.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_10.html">
                                    <div class="circle"></div>
                                </a>
                                <a href="ema_11.html">
                                    <div class="circle"></div>
                                </a>
                            </div>
                        </div>
                        <div class="breadcrumbs-wrapper-mobile d-block d-lg-none">
                            7/11
                        </div>
                    </div>
                    <div class="main-content-wrapper">
                        <section class="main-content-container">
                            <h1>Popusti</h1>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="needs-validation" action="ema_8b.html" novalidate>
                                        <div class="form-group">
                                            <label>Izberite delovne ure</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="1" name="obracunskaUra" id="obracunskaUra1" required>
                                                <label class="form-check-label" for="obracunskaUra1">
                                                    Obračunska ura 1
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="2" name="obracunskaUra" id="obracunskaUra2" required>
                                                <label class="form-check-label" for="obracunskaUra2">
                                                    Obračunska ura 2
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="3" name="obracunskaUra" id="obracunskaUra3" required>
                                                <label class="form-check-label" for="obracunskaUra3">
                                                    Obračunska ura 3
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="4" name="obracunskaUra" id="obracunskaUra4" required>
                                                <label class="form-check-label" for="obracunskaUra4">
                                                    Obračunska ura 4
                                                </label>
                                                <div class="invalid-feedback">
                                                    Polje je zahtevano.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding-top: 10px;">
                                            <label>Izberite popust</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="1" name="popust" id="popust1" required>
                                                <label class="form-check-label" for="popust1">
                                                    Popust 1
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="1" name="popust" id="popust2" required>
                                                <label class="form-check-label" for="popust2">
                                                    Popust 2
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="1" name="popust" id="popust3" required>
                                                <label class="form-check-label" for="popust3">
                                                    Popust 3
                                                </label>
                                                <div class="invalid-feedback">
                                                    Polje je zahtevano.
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Potrdi</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/ema-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>