<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container dashboard">
        <!-- include header.html -->
        @@include('../layouts/header.html', {
        "is-present": "d-block",
        "title": "Kalkulacija popravila"
        })
        <div class="container-main-wrapper">
            <!-- include dashboard-sidebar -->
            @@include('../partials/dashboard-sidebar.html')
            <div class="inner-container">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-lg-8 main-column">
                            <div class="main-content-wrapper">
                                <section class="main-content-container">
                                    <h1>Ford Fiesta 1,1 Trend (08/2017 - ) <span class="content-title-tag" title="Oznaka datoteke">890</span></h1>
                                    <div class="main-content-navigation">
                                        <nav class="nav">
                                            <a class="nav-link" href="ere.index.html">Vrednotenje</a>
                                            <a class="nav-link" href="ere.damage.html">Podatki o škodi</a>
                                            <a class="nav-link" href="ere.owner.html">Lastnik</a>
                                            <a class="nav-link" href="ere.attachments.html">Priloge</a>
                                            <a class="nav-link" href="ere.causer.html">Povzročitelj</a>
                                            <a class="nav-link" href="ere.header.html">Glava podjetja</a>
                                            <a class="nav-link active" href="ere.record.html">Cenilni zapisnik</a>
                                        </nav>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <div class="form-group ema-select">
                                                <label for="sposobnost">Sposobnost za voznjo</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="sposobnost" name="sposobnost" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="Predposkodbe">Predposkodbe</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="Predposkodbe" name="Predposkodbe" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="sledi">Sledi prejsnjih popravil</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="sledi" name="sledi" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="obloge">Stanje notranjih oblog</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="obloge" name="obloge" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="korozija">Sledi korozije na</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="korozija" name="korozija" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="motor">Stanje motorja in pot. prostora</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="motor" name="motor" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group ema-select">
                                                <label for="naosnovi">Na osnovi podatko o vzroku skode iz prijave in vidnih poskodb na vozilu</label>
                                                <div style="position: relative">
                                                    <span class="select-icon icon-Ikona_izberi"></span>
                                                    <select id="naosnovi" name="naosnovi" class="form-control">
                                                        <option value="">Izberi...</option>
                                                        <option value="">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="opombe">Opombe</label>
                                                <textarea class="form-control" id="opombe" rows="3"></textarea>
                                            </div>
                                            <div class="form-group ema-select">
                                                <label for="Rentabilno">Popravilo vozila je</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="Rentabilno" name="Rentabilno" class="form-control">
                                                    <option value="">Rentabilno</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="znesek">Do zneska</label>
                                                <input type="number" class="form-control" name="znesek" id="znesek">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <h3 class="label-title">Administrativni podatki</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ema-select">
                                                <label for="ogled">Ogled</label>
                                                <span class="select-icon icon-Ikona_izberi"></span>
                                                <select id="ogled" name="ogled" class="form-control">
                                                    <option value="">Izberi...</option>
                                                    <option value="">...</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="lokacija">Ogled vozila na</label>
                                                <input type="text" class="form-control" name="lokacija" id="lokacija">
                                            </div>
                                            <div class="form-group date">
                                                <label for="datumDogodka">Dne</label>
                                                <input type="text" class="form-control" name="datumDogodka" id="datumDogodka" required="">
                                                <div class="input-group-addon"><i class="et-icon icon-Ikona_koledar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <h3 class="label-title">Priznani zneski</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="urnaPostavka">Urna postavka za pooblascene servise</label>
                                                <input type="text" class="form-control" name="urnaPostavka" id="urnaPostavka">
                                            </div>
                                            <div class="form-group">
                                                <label for="urnaPostavka2">Urna postavka za ostale servise</label>
                                                <input type="text" class="form-control" name="urnaPostavka2" id="urnaPostavka2">
                                            </div>
                                            <div class="form-group">
                                                <label for="material">Material za licarska dela (z barvo in komoro)</label>
                                                <input type="text" class="form-control" name="material" id="material">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-2 right-column">
                            <!-- include file history -->
                            @@include('../partials/file-history.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/dashboard-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>