<!doctype html>
<html lang="sl-SI">
<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "Dashboard"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>
<body>
<div class="wrapper" id="main-wrapper">
    <section class="main-container dashboard">
        <!-- include header.html -->
        @@include('../layouts/header.html', {
        "is-present": "d-none",
        "title": "Nastavitve"
        })
        <div class="container-main-wrapper">
            <!-- include dashboard-sidebar -->
            @@include('../partials/dashboard-sidebar.html')
            <div class="inner-container">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-lg-12 main-column">
                            <div class="main-content-wrapper">
                                <section class="main-content-container">
                                    <div class="main-content-navigation">
                                        <nav class="nav">
                                            <a class="nav-link" href="settings.tokens.html">Stanje</a>
                                            <a class="nav-link active" href="settings.tokens-buy.html">Nakup</a>
                                        </nav>
                                    </div>
                                    <div class="tokens-container">
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_ERE m-icon"></span>
                                                <span class="module-text">Kalkulacija popravila</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="ere" id="ere">
                                            </div>
                                        </div>
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_EVA m-icon"></span>
                                                <span class="module-text">Vrednost rabljenega vozila</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="eva" id="eva">
                                            </div>
                                        </div>
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_MPC m-icon"></span>
                                                <span class="module-text">Maloprodajna vrednost</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="mpc" id="mpc">
                                            </div>
                                        </div>
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_FOR m-icon"></span>
                                                <span class="module-text">Napoved</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="for" id="for">
                                            </div>
                                        </div>
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_EC2 m-icon"></span>
                                                <span class="module-text">Izracun PPMV Tablica 1</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="ec2" id="ec2">
                                            </div>
                                        </div>
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_EC3 m-icon"></span>
                                                <span class="module-text">Izracun PPMV Procijena</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="ec3" id="ec3">
                                            </div>
                                        </div>
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_TLM m-icon"></span>
                                                <span class="module-text">Totalna škoda</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="tlm" id="tlm">
                                            </div>
                                        </div>
                                        <div class="module-item">
                                            <div class="module-item-name">
                                                <span class="icon-Ikona_MON m-icon"></span>
                                                <span class="module-text">Monex</span>
                                            </div>
                                            <div class="module-item-action">
                                                <input type="number" class="form-control" value="0" name="mon" id="mon">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">Potrdi</button>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
</div>

<!-- include hamburger sidebar -->
@@include('../partials/dashboard-mobile-sidebar.html')

<!-- include scripts.html -->
@@include('../layouts/scripts.html')
</body>
</html>