@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lgkn0q');
  src:  url('fonts/icomoon.eot?lgkn0q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lgkn0q') format('truetype'),
    url('fonts/icomoon.woff?lgkn0q') format('woff'),
    url('fonts/icomoon.svg?lgkn0q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Ikona_komentar:before {
  content: "\e90f";
}
.icon-Ikona_krizec:before {
  content: "\e920";
}
.icon-Ikona_EEVAC3:before {
  content: "\e91e";
}
.icon-Ikona_EEVAC2:before {
  content: "\e91f";
}
.icon-Ikona_administracija:before {
  content: "\e904";
}
.icon-Ikona_domov:before {
  content: "\e908";
}
.icon-Ikona_EVAC2:before {
  content: "\e909";
}
.icon-Ikona_EVAC3:before {
  content: "\e90a";
}
.icon-Ikona_ERE:before {
  content: "\e90b";
}
.icon-Ikona_EVA:before {
  content: "\e90c";
}
.icon-Ikona_FOR:before {
  content: "\e90d";
}
.icon-Ikona_izberi:before {
  content: "\e90e";
}
.icon-Ikona_MON:before {
  content: "\e910";
}
.icon-Ikona_MPC:before {
  content: "\e911";
}
.icon-Ikona_naprej:before {
  content: "\e912";
}
.icon-Ikona_nazaj:before {
  content: "\e913";
}
.icon-Ikona_natisni:before {
  content: "\e914";
}
.icon-Ikona_nova-datoteka:before {
  content: "\e915";
}
.icon-Ikona_poslji:before {
  content: "\e916";
}
.icon-Ikona_predogled-kalkulacije:before {
  content: "\e917";
}
.icon-Ikona_predogled-zapisnika:before {
  content: "\e918";
}
.icon-Ikona_shrani:before {
  content: "\e919";
}
.icon-Ikona_tisk-kalkulacije:before {
  content: "\e91a";
}
.icon-Ikona_tisk-zapisnika:before {
  content: "\e91b";
}
.icon-Ikona_TLM:before {
  content: "\e91c";
}
.icon-Ikona_zakljuci:before {
  content: "\e91d";
}
.icon-Ikona_kopiraj:before {
  content: "\e900";
}
.icon-Ikona_predogled-kalkulacije2:before {
  content: "\e901";
}
.icon-Ikona_predogled-zapisnika2:before {
  content: "\e902";
}
.icon-Ikona_tisk-kalkulacije2:before {
  content: "\e903";
}
.icon-Ikona_tisk-zapisnika2:before {
  content: "\1f5fd";
}
.icon-Ikona_uporabnik:before {
  content: "\e905";
}
.icon-Ikona_koledar:before {
  content: "\e906";
}
.icon-Ikona_datoteka:before {
  content: "\e907";
}
