<!-- Modal -->
<div class="modal fade" id="addHoursModule" tabindex="-1" role="dialog" aria-labelledby="addHoursModule"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj ure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation" novalidate="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group ema-select">
                                <label for="myMarket">Market</label>
                                <i class="oi oi-chevron-bottom"></i>
                                <select id="myMarket" name="market" class="form-control">
                                    <option value="" selected>SI</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="opis_ure">Opis</label>
                                <input type="text" class="form-control" name="opis_ure" id="opis_ure" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="klepar_hours">Klepar</label>
                                <input type="text" class="form-control" name="klepar_hours" id="klepar_hours" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="electican_hours">Elektricar</label>
                                <input type="text" class="form-control" name="electican_hours" id="electican_hours" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="toca_modal">Popravilo toce</label>
                                <input type="text" class="form-control" name="toca_modal" id="toca_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tapetnik_modal">Tapetnik</label>
                                <input type="text" class="form-control" name="tapetnik_modal" id="tapetnik_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="mehanik_hours">Mehanik</label>
                                <input type="text" class="form-control" name="mehanik_hours" id="mehanik_hours" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mehatronic_hours">Mehatronik</label>
                                <input type="text" class="form-control" name="mehatronic_hours" id="mehatronic_hours" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="licar_modal">Licar</label>
                                <input type="text" class="form-control" name="licar_modal" id="licar_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pomozna_modal">Pomozna dela</label>
                                <input type="text" class="form-control" name="pomozna_modal" id="pomozna_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Potrdi</button>
                </div>
            </form>
        </div>
    </div>
</div>