<div id="hamburger" class="hamburger-menu">
    <span class="hamburger-toggle-close">
        <span class="oi oi-x"></span>
    </span>
    <h5 class="hamburger-title">EMA</h5>
    <nav class="nav flex-column">
        <a class="nav-link active" href="ema_1.html">1. Začetek</a>
        <a class="nav-link" href="ema_2.html">2. Popis</a>
        <a class="nav-link" href="ema_3.html">3. Podatki o lastniku</a>
        <a class="nav-link" href="ema_4.html">4. Podatki o vozniku</a>
        <a class="nav-link" href="ema_5.html">5. Podatki o vozilu</a>
        <a class="nav-link" href="ema_6.html">6. Mesto poškodbe</a>
        <a class="nav-link" href="ema_7.html">7. Popusti</a>
        <a class="nav-link" href="ema_8.html">8. Priloge</a>
        <a class="nav-link" href="ema_9.html">9. Opombe</a>
        <a class="nav-link" href="ema_10.html">10. Regija in serviser</a>
        <a class="nav-link disabled" href="ema_11.html">11. Pregled</a>
    </nav>
    <h5 class="hamburger-title">Eurotax</h5>
    <nav class="nav flex-column">
        <a class="nav-link" href="index.html">Nazaj na Eurotax</a>
        <a class="nav-link" href="index.html">Profil</a>
        <a class="nav-link" href="index.html">Žetoni</a>
        <a class="nav-link" href="#">Odjava</a>
    </nav>
</div>