<div class="main-sidebar">
    <div class="left-sidebar">
        <nav class="nav flex-column sidebar-nav">
            <div class="nav-link-row">
                <a class="nav-link active" href="dashboard.html">
                    <span class="icon-Ikona_domov nav-icon"></span>
                    <span class="nav-text">Domov</span>
                </a>
                <a class="nav-link" data-toggle="modal" data-target="#newDocumentModal">
                    <span class="icon-Ikona_nova-datoteka nav-icon"></span>
                    <span class="nav-text">Nova datoteka</span>
                </a>
            </div>
            <div class="nav-link-row">
                <a class="nav-link" href="ere.index.html">
                    <span class="icon-Ikona_ERE nav-icon"></span>
                    <span class="nav-text">Kalkulacija popravila</span>
                </a>
                <a class="nav-link" href="module.index.html">
                    <span class="icon-Ikona_EVA nav-icon"></span>
                    <span class="nav-text">Vrednost rabljenega vozila</span>
                </a>
                <a class="nav-link" href="module.index.html">
                    <span class="icon-Ikona_MPC nav-icon"></span>
                    <span class="nav-text">Maloprodajna vrednost</span>
                </a>
                <a class="nav-link disabled" href="module.index.html" data-toggle="tooltip" data-placement="top" title="Napoved">
                    <span class="icon-Ikona_FOR nav-icon"></span>
                    <span class="nav-text">Napoved</span>
                </a>
                <a class="nav-link disabled" href="module.index.html" data-toggle="tooltip" data-placement="top" title="Izracun PPMV Tablica 1">
                    <span class="icon-Ikona_EVAC2 nav-icon"></span>
                    <span class="nav-text">Izracun PPMV Tablica 1</span>
                </a>
                <a class="nav-link disabled" href="module.index.html" data-toggle="tooltip" data-placement="top" title="Izracun PPMV Procijena">
                    <span class="icon-Ikona_EVAC3 nav-icon"></span>
                    <span class="nav-text">Izracun PPMV Procijena</span>
                </a>
                <a class="nav-link disabled" href="module.index.html" data-toggle="tooltip" data-placement="top" title="Totalna škoda">
                    <span class="icon-Ikona_TLM nav-icon"></span>
                    <span class="nav-text">Totalna škoda</span>
                </a>
                <a class="nav-link disabled" href="module.index.html" data-toggle="tooltip" data-placement="top" title="Monex">
                    <span class="icon-Ikona_MON nav-icon"></span>
                    <span class="nav-text">Monex</span>
                </a>
            </div>
            <div class="colophone">
                <a class="footer-link" href="#" title="Privacy">
                    Pravno obvestilo
                </a>
                <a class="footer-link" href="#" title="Privacy">
                    Pogoji
                </a>
                <a class="footer-link" href="#" title="Privacy">
                    Eurotax
                </a>
                <a class="footer-link" href="#" title="Privacy">
                    Beta dostop
                </a>
            </div>
        </nav>
    </div>
</div>

<!-- MODALS: SHOULD BE INCLUDED IN DOCUMENT FOOTER IN PRODUCTION -->
@@include('../partials/new-document-modal.html')
@@include('../partials/select-car-modal.html')