<div class="main-sidebar">
    <div class="left-sidebar">
        <nav class="nav flex-column sidebar-nav">
            <div class="nav-link-row">
                <a class="nav-link active" href="dashboard.html">
                    <span class="icon-Ikona_domov nav-icon"></span>
                    <span class="nav-text">Domov</span>
                </a>
                <a class="nav-link" href="index.ema.html">
                    <span class="icon-Ikona_nova-datoteka nav-icon"></span>
                    <span class="nav-text">Nova datoteka</span>
                </a>
            </div>
            <div class="nav-link-row">
                <a class="nav-link" href="#">
                    <span class="icon-Ikona_ERE nav-icon"></span>
                    <span class="nav-text">Kalkulacija popravila</span>
                </a>
                <a class="nav-link" href="#">
                    <span class="icon-Ikona_EVA nav-icon"></span>
                    <span class="nav-text">Vrednost rabljenega vozila</span>
                </a>
                <a class="nav-link" href="#">
                    <span class="icon-Ikona_MPC nav-icon"></span>
                    <span class="nav-text">Maloprodajna vrednost</span>
                </a>
                <a class="nav-link disabled" href="ema_1.html">
                    <span class="icon-Ikona_FOR nav-icon"></span>
                    <span class="nav-text">Napoved</span>
                </a>
                <a class="nav-link disabled" href="ema_1.html">
                    <span class="icon-Ikona_EC2 nav-icon"></span>
                    <span class="nav-text">Izracun PPMV Tablica 1</span>
                </a>
                <a class="nav-link disabled" href="ema_1.html">
                    <span class="icon-Ikona_EC3 nav-icon"></span>
                    <span class="nav-text">Izracun PPMV Procijena</span>
                </a>
                <a class="nav-link disabled" href="ema_1.html">
                    <span class="icon-Ikona_TLM nav-icon"></span>
                    <span class="nav-text">Totalna škoda</span>
                </a>
                <a class="nav-link disabled" href="ema_1.html">
                    <span class="icon-Ikona_MON nav-icon"></span>
                    <span class="nav-text">Monex</span>
                </a>
            </div>
            <div class="nav-link-row">
                <a class="nav-link" href="#">
                    <span class="icon-Ikona_administracija nav-icon"></span>
                    <span class="nav-text">Administracija</span>
                </a>
            </div>
        </nav>
    </div>
</div>

