<div class="main-content-wrapper">
    <section class="main-content-container right-sidebar">
        <h1>Obvestila</h1>
        <div class="side-notifications">
            <div class="side-notification-item">
                <div class="side-notification-item-top">
                    <h3 class="side-notification-item-tag tag-admin">Eurotax</h3>
                    <span class="side-notification-item-date">22.06.2018</span>
                </div>
                <p class="side-notification-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua...
                    <a href="#" class="side-notification-read-more">Več</a></p>
            </div>
            <div class="side-notification-item">
                <div class="side-notification-item-top">
                    <h3 class="side-notification-item-tag tag-user">Mojca Kos</h3>
                    <span class="side-notification-item-date">19.06.2018</span>
                </div>
                <p class="side-notification-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                    <a href="#" class="side-notification-read-more">Več</a></p>
            </div>
            <div class="side-notification-item">

                <div class="side-notification-item-top">
                    <h3 class="side-notification-item-tag tag-notice">Obvestilo</h3>
                    <span class="side-notification-item-date">22.05.2018</span>
                </div>
                <p class="side-notification-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                    <a href="#" class="side-notification-read-more">Več</a></p>
            </div>
        </div>
    </section>
</div>