<div id="hamburger" class="hamburger-menu">
    <span class="hamburger-toggle-close">
        <span class="oi oi-x"></span>
    </span>
    <h5 class="hamburger-title">Eurotax</h5>
    <nav class="nav flex-column">
        <a class="nav-link active" href="dashboard.html">Domov</a>
        <a class="nav-link" data-toggle="modal" data-target="#newDocumentModal">Nova datoteka</a>
        <div class="nav-search">
            <input class="nav-search-input" type="text" name="top-search" placeholder="Iskanje datotek">
        </div>
    </nav>
    <h5 class="hamburger-title">Moduli</h5>
    <nav class="nav flex-column">
        <a class="nav-link" href="ere.index.html">Kalkulacija popravila</a>
        <a class="nav-link" href="module.index.html">Vrednost rabljenega vozila</a>
        <a class="nav-link" href="module.index.html">Maloprodajna vrednost</a>
        <a class="nav-link disabled" href="#">Napoved</a>
        <a class="nav-link disabled" href="#">Izracun PPMV Tablica 1u</a>
        <a class="nav-link disabled" href="#">Izracun PPMV Procijena</a>
        <a class="nav-link disabled" href="#">Totalna škoda</a>
        <a class="nav-link disabled" href="#">Monex</a>
    </nav>
    <h5 class="hamburger-title">Uporabnik</h5>
    <nav class="nav flex-column">
        <a class="nav-link" href="settings.index.html">Profil</a>
        <a class="nav-link" href="#">Žetoni</a>
        <a class="nav-link" href="#">Odjava</a>
    </nav>
</div>