<!-- Modal -->
<div class="modal fade" id="editCarModal" tabindex="-1" role="dialog" aria-labelledby="editCarModal"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Uredi vozilo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation" novalidate="">
                <div class="modal-body">
                    <div class="row technical-data">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="Eurotax">Eurotax koda</label>
                                <input type="text" class="form-control" name="Eurotax" id="Eurotax" value="000-000">
                            </div>
                            <div class="form-group">
                                <label for="Znamka">Znamka</label>
                                <input type="text" class="form-control" name="Znamka" id="Znamka" value="Ford">
                            </div>
                            <div class="form-group">
                                <label for="Model">Model</label>
                                <input type="text" class="form-control" name="Model" id="Model" value="Focus (2018 - )">
                            </div>
                            <div class="form-group">
                                <label for="Tip">Tip</label>
                                <input type="text" class="form-control" name="Tip" id="Tip" value="Focus 1.8">
                            </div>
                            <div class="form-group">
                                <label for="CCM">CCM</label>
                                <input type="text" class="form-control" name="CCM" id="CCM" value="122">
                            </div>
                            <div class="form-group">
                                <label for="kW">kW</label>
                                <input type="text" class="form-control" name="kW" id="kW" value="122">
                            </div>
                            <div class="form-group">
                                <label for="HP">HP</label>
                                <input type="text" class="form-control" name="HP" id="HP" value="98">
                            </div>
                            <div class="form-group">
                                <label for="Natcode">Natcode</label>
                                <input type="text" class="form-control" name="Natcode" id="Natcode" value="NT2300">
                            </div>
                            <div class="form-group">
                                <label for="koda">Eurotax koda</label>
                                <input type="text" class="form-control" name="koda" id="koda" value="6554">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="Eurotax2">Eurotax koda</label>
                                <input type="text" class="form-control" name="Eurotax" id="Eurotax2" value="000-000">
                            </div>
                            <div class="form-group">
                                <label for="Znamka2">Znamka</label>
                                <input type="text" class="form-control" name="Znamka" id="Znamka2" value="Ford">
                            </div>
                            <div class="form-group">
                                <label for="Model2">Model</label>
                                <input type="text" class="form-control" name="Model" id="Model2" value="Focus (2018 - )">
                            </div>
                            <div class="form-group">
                                <label for="Tip2">Tip</label>
                                <input type="text" class="form-control" name="Tip" id="Tip2" value="Focus 1.8">
                            </div>
                            <div class="form-group">
                                <label for="CCM2">CCM</label>
                                <input type="text" class="form-control" name="CCM" id="CCM2" value="122">
                            </div>
                            <div class="form-group">
                                <label for="kW2">kW</label>
                                <input type="text" class="form-control" name="kW" id="kW2" value="122">
                            </div>
                            <div class="form-group">
                                <label for="HP2">HP</label>
                                <input type="text" class="form-control" name="HP" id="HP2" value="98">
                            </div>
                            <div class="form-group">
                                <label for="Natcode2">Natcode</label>
                                <input type="text" class="form-control" name="Natcode" id="Natcode2" value="NT2300">
                            </div>
                            <div class="form-group">
                                <label for="koda2">Eurotax koda</label>
                                <input type="text" class="form-control" name="koda" id="koda2" value="6554">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="Eurotax3">Eurotax koda</label>
                                <input type="text" class="form-control" name="Eurotax" id="Eurotax3" value="000-000">
                            </div>
                            <div class="form-group">
                                <label for="Znamka3">Znamka</label>
                                <input type="text" class="form-control" name="Znamka" id="Znamka3" value="Ford">
                            </div>
                            <div class="form-group">
                                <label for="Model3">Model</label>
                                <input type="text" class="form-control" name="Model" id="Model3" value="Focus (2018 - )">
                            </div>
                            <div class="form-group">
                                <label for="Tip3">Tip</label>
                                <input type="text" class="form-control" name="Tip" id="Tip3" value="Focus 1.8">
                            </div>
                            <div class="form-group">
                                <label for="CCM3">CCM</label>
                                <input type="text" class="form-control" name="CCM" id="CCM3" value="122">
                            </div>
                            <div class="form-group">
                                <label for="kW3">kW</label>
                                <input type="text" class="form-control" name="kW" id="kW3" value="122">
                            </div>
                            <div class="form-group">
                                <label for="HP3">HP</label>
                                <input type="text" class="form-control" name="HP" id="HP3" value="98">
                            </div>
                            <div class="form-group">
                                <label for="Natcode3">Natcode</label>
                                <input type="text" class="form-control" name="Natcode" id="Natcode3" value="NT2300">
                            </div>
                            <div class="form-group">
                                <label for="koda3">Eurotax koda</label>
                                <input type="text" class="form-control" name="koda" id="koda3" value="6554">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Potrdi</button>
                </div>
            </form>
        </div>
    </div>
</div>