<div class="main-content-wrapper">
    <section class="main-content-container right-sidebar">
        <h1>Zgodovina sprememb</h1>
        <table class="side-history">
            <tr class="side-history-item">
                <td class="side-history-item-data">
                    <h3>Marko Groselj</h3>
                    <span>ERE 13.6.2018</span>
                </td>
                <td class="side-history-item-value">
                    20.079 EUR
                </td>
                <td class="side-history-item-action">
                    <span class="side-icon icon-Ikona_tisk-kalkulacije"></span>
                </td>
            </tr>
            <tr class="side-history-item">
                <td class="side-history-item-data">
                    <h3>Anita Likovnik</h3>
                    <span>ERE 13.6.2018</span>
                </td>
                <td class="side-history-item-value">
                    2.079 EUR
                </td>
                <td class="side-history-item-action">
                    <span class="side-icon icon-Ikona_tisk-kalkulacije"></span>
                </td>
            </tr>
            <tr class="side-history-item">
                <td class="side-history-item-data">
                    <h3>Vasilij Zbogar Cetic</h3>
                    <span>ERE 13.6.2018</span>
                </td>
                <td class="side-history-item-value">
                    20.079 EUR
                </td>
                <td class="side-history-item-action">
                    <span class="side-icon icon-Ikona_tisk-kalkulacije"></span>
                </td>
            </tr>
        </table>
    </section>
</div>