<div class="main-content-wrapper">
    <section class="main-content-container right-sidebar">
        <h1>Zgodovina sprememb</h1>
        <table class="side-history">
            <tr class="side-history-item">
                <td class="side-history-item-data">
                    <a href="#">
                        <h3>Marko Groselj</h3>
                        <span>ERE 13.6.2018</span>
                    </a>
                </td>
                <td class="side-history-item-value">
                    <a href="#">
                        20.079 EUR
                    </a>
                </td>
                <td class="side-history-item-action">
                    <a href="#">
                        <span class="side-icon icon-Ikona_natisni"></span>
                    </a>
                </td>
            </tr>
            <tr class="side-history-item">
                <td class="side-history-item-data">
                    <a href="#">
                        <h3>Anita Likovnik</h3>
                        <span>ERE 13.6.2018</span>
                    </a>

                </td>
                <td class="side-history-item-value">
                    <a href="#">
                        2.079 EUR
                    </a>
                </td>
                <td class="side-history-item-action">
                    <a href="#">
                        <span class="side-icon icon-Ikona_natisni"></span>
                    </a>
                </td>
            </tr>
            <tr class="side-history-item">
                <td class="side-history-item-data">
                    <a href="#">
                        <h3>Vasilij Zbogar Cetic</h3>
                        <span>ERE 13.6.2018</span>
                    </a>
                </td>
                <td class="side-history-item-value">
                    <a href="#">
                        20.079 EUR
                    </a>
                </td>
                <td class="side-history-item-action">
                    <a href="#">
                        <span class="side-icon icon-Ikona_natisni"></span>
                    </a>
                </td>
            </tr>
        </table>
    </section>
</div>