<!-- Modal -->
<div class="modal fade" id="newContactModal" tabindex="-1" role="dialog" aria-labelledby="newContactModal"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nov kontakt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation" novalidate="">
                <div class="modal-body">
                    <div class="form-group" style="margin-bottom: 20px">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="voznik_modal">
                            <label class="form-check-label" for="voznik_modal">
                                Voznik
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="lastnik_modal">
                            <label class="form-check-label" for="lastnik_modal">
                                Lastnik
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="" id="leasing_modal">
                            <label class="form-check-label" for="leasing_modal">
                                Leasing
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="podjetje_modal">Podjetje</label>
                                <input type="text" class="form-control" name="podjetje" id="podjetje_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameSurname_modal">Ime in priimek</label>
                                <input type="text" class="form-control" name="nameSurname" id="nameSurname_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="streetWithNumber_modal">Ulica in hišna številka</label>
                                <input type="text" class="form-control" name="streetWithNumber" id="streetWithNumber_modal"
                                       required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-5">
                                    <label for="postalNumber_modal">Poštna številka</label>
                                    <input type="number" class="form-control" name="postalNumber" id="postalNumber_modal"
                                           required="">
                                    <div class="valid-check"><span class="oi oi-check"></span></div>
                                    <div class="invalid-feedback">
                                        Polje je zahtevano.
                                    </div>
                                </div>
                                <div class="form-group col-sm-7">
                                    <label for="postalName_modal">Pošta</label>
                                    <input type="text" class="form-control" name="postalName" id="postalName_modal"
                                           required="">
                                    <div class="valid-check"><span class="oi oi-check"></span></div>
                                    <div class="invalid-feedback">
                                        Polje je zahtevano.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country_modal">Država</label>
                                <input type="text" class="form-control" name="country" id="country_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vatID_modal">Davčna številka</label>
                                <input type="text" class="form-control" name="vatID" id="vatID_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="email_modal">Email</label>
                                <input type="email" class="form-control" name="email" id="email_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobileNumber_modal">Mobilna številka</label>
                                <input type="tel" class="form-control" name="mobileNumber" id="mobileNumber_modal"
                                       required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telNumber_modal">Telefonska številka</label>
                                <input type="tel" class="form-control" name="telNumber" id="telNumber_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="faxNumber_modal">Fax številka</label>
                                <input type="tel" class="form-control" name="faxNumber" id="faxNumber_modal" required="">
                                <div class="valid-check"><span class="oi oi-check"></span></div>
                                <div class="invalid-feedback">
                                    Polje je zahtevano.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment_modal">Opombe</label>
                                <textarea class="form-control" id="comment_modal" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Potrdi</button>
                </div>
            </form>
        </div>
    </div>
</div>