<header class="header-container">
    <div class="header-top-content">
        <div class="header-logo">
            <a href="dashboard.html">
                <img src="./images/eurotax_logo.png" class="top-logo">
            </a>
        </div>
        <div class="header-top-actions d-none d-md-flex">
            <div class="header-top-action-dropdown-menu">
                <div class="dropdown top-link-item">
                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Žetoni
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Nakup</a>
                        <a class="dropdown-item" href="#">Stanje</a>
                    </div>
                </div>
                <div class="dropdown top-link-item">
                    <button class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Uporabnik
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="settings.index.html">Moj profil</a>
                        <a class="dropdown-item" href="index.html">Odjava</a>
                    </div>
                </div>
            </div>
            <div class="header-top-action-avatar-menu">
                <span class="et-icon icon-Ikona_uporabnik"></span>
            </div>
        </div>
    </div>
    <div class="header-bottom-content">
        <div class="header-bottom-actions d-none d-md-flex">
            <div class="header-search">
                <input class="top-search-input" type="text" name="top-search" placeholder="Iskanje datotek">
            </div>
        </div>
        <div class="@@is-present">
            <div class="header-bottom-sub-content-wrapper">
                <div class="header-title">
                    <h1>@@title</h1>
                </div>
                <div class="header-bottom-action-buttons">
                    <button class="big-btn d-none d-sm-inline-block">
                        <span class="et-icon icon-Ikona_komentar"></span>
                        Komentar
                    </button>
                    <button class="big-btn">
                        <span class="et-icon icon-Ikona_kopiraj"></span>
                        Kopiraj
                    </button>
                    <button class="big-btn">
                        <span class="et-icon icon-Ikona_poslji"></span>
                        Pošlji
                    </button>
                    <button class="big-btn">
                        <span class="et-icon icon-Ikona_zakljuci"></span>
                        Zaključi
                    </button>
                    <button class="big-btn">
                        <span class="et-icon icon-Ikona_shrani"></span>
                        Shrani
                    </button>
                    <button class="big-btn  d-none d-sm-inline-block">
                        <span class="et-icon icon-Ikona_natisni"></span>
                        Natisni
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-background"></div>