<!-- build:js(.) scripts/vendor.min.js -->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/popper.js/dist/umd/popper.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/js/dist/util.js"></script>
<!--<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>-->
<script type="text/javascript" src="node_modules/bootstrap/js/dist/dropdown.js"></script>
<script type="text/javascript" src="node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/js/dist/modal.js"></script>
<script type="text/javascript" src="node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="node_modules/slideout/dist/slideout.js"></script>
<script type="text/javascript" src="node_modules/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/js/dist/tooltip.js"></script>
<script type="text/javascript" src="node_modules/toastr/build/toastr.min.js"></script>
<script type="text/javascript" src="node_modules/chartist/dist/chartist.min.js"></script>
<script type="text/javascript" src="node_modules/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<!-- endbuild -->
<!-- build:js scripts/script.min.js -->
<script type="text/javascript" src="scripts/script.js"></script>
<!-- endbuild -->